@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="about-container">
    <div class="about-content">
        <img src="Home/1.jpg" alt="Your Photo" class="about-photo" />
        <p class="about-description">
            I am <b>Albion Burrniku</b>, student on the <b>Computer Science</b> department. In the third year and this is my first webapp using ASP.NET.
            Also i am a <b>Quality Assurance Engineer.</b>.
        </p>
        <p class="about-description">
            I was an University Teaching Assistant here on the <b>UNIVERSUM INTERNATIONAL COLLEGE</b>. I helped students on the Mathematics I and II, also on the Discrete Structure.
        </p>
    </div>
</div>

<style>
    /* Existing CSS styles */

    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
    }

    .about-content {
        text-align: center;
        color: #fff;
    }

    .about-photo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .about-description {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: linear-gradient(#141e30, #243b55);
        color: white;
    }
</style>
